[submodule "containers/docker-boot"]
	path = containers/docker-boot
	url = https://github.com/h0tbird/docker-boot.git
[submodule "containers/docker-data"]
	path = containers/docker-data
	url = https://github.com/h0tbird/docker-data.git
[submodule "containers/docker-gito"]
	path = containers/docker-gito
	url = https://github.com/h0tbird/docker-gito.git
[submodule "containers/docker-cgit"]
	path = containers/docker-cgit
	url = https://github.com/h0tbird/docker-cgit.git
[submodule "data/config-kickstart"]
	path = data/config-kickstart
	url = https://github.com/h0tbird/config-kickstart
[submodule "data/config-pxelinux"]
	path = data/config-pxelinux
	url = https://github.com/h0tbird/config-pxelinux
[submodule "containers/docker-regi"]
	path = containers/docker-regi
	url = https://github.com/h0tbird/docker-regi.git
